<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/png">
    <script src="/js/demonSlayerSlider.js" defer></script>
    <title>{{data.title}}</title>

</head>

<body>
{{>header}}

    <section class="INFO">

        <div class="content">
            <div class="choise">
                <img src="/img/{{data.counter}}.png">
                <div class="option">

                    <p class="watch choice-btn"> <a href="#yakor">Смотреть онлайн</a></p>

                    <p class="write choice-btn"> <a href="#kommen" > Написать комментарий</a></p>

                    <p class="add-to-list choice-btn">
                        Добавить в список
                        
                        <div class="add-to">
                            <a href="">Просмотрено</a>
                            <a href="">Смотрю</a> 
                            <a href="">В желанном</a> 
                            <a href="">Заброшено</a> 
                        </div>
                       
                    </p>

                </div>

            </div>

            <div class="all-info">

                <div class="info">
                    <h1 class="Name">
                        {{data.title}}
                    </h1>
                    <p class="other-name">
                        {{#each data.otherNames as |value key|}}
                            {{value}} <br>
                        {{/each}}
                    </p>
                </div>
                <div class="line">

                </div>
                <div class="main-info">
                    <p class="information">
                        Тип <br> Эпизоды <br> Статус <br> Жанр <br> Первоисточник <br> Сезон <br> Выпуск <br> Студия
                        <br> Рейтинг MPAA <br> Возрастные ограничения <br> Длительность <br> Озвучка <br> Снят по манге
                        <br> Главные герои
                    </p>
                    <p class="information2">
                        <a href="">{{data.type}}</a> <br>{{data.episodes}}<br> <a href="">{{data.status}}</a> <br>{{#each data.ganres as |value key| }}
                        <a href="#">{{value}}</a>,
                        {{/each}}
                        <br>{{data.origin}}<br> {{data.season}}<br> {{data.released}} <br>
                        {{data.studio}} <br> {{data.rating}} <br> {{data.ageLimits}} <br> {{data.duration}}  <br>{{#each data.voiceActing as |value key| }}
                        <a href="#">{{value}}</a>,{{/each}} <br> {{data.manga}} <br> {{#each data.mainCaracters as |value key|}} 
                        {{value}} <br>
                        {{/each}} <br>
                    </p>
                </div>


            </div>
        </div>

        <div class="history">
            <p>
                {{data.description}}
            </p>
        </div>
    </section>

    <section class="WATCH">
        <div class="hav">
            
            <div class="Prosmotr"> <a name="yakor"></a> 
                <video src="/Смотреть/Kimetsu no Yaiba - Yuukaku-hen - AniLibria.TV [WEBRip 1080p]/1.mp4" controls id="one" id ="vid"></video>
            </div>
            <div class="ban">
                <div class="slider">
                    <div class="slider-line"></div>
                </div>

                <button class="button-slider-prev"> < </button>
                <button class="button-slider-next"> > </button>
            </div>
            
           
        </div>
            <div class="background">

                <div class="voice-acting">

                    <p class="active-btn">
                        Озвучка
                    </p>
                    <p class="active-btn">
                        Плеер
                    </p>
                </div>

            </div>

        
    </section>

    <input class="comments" placeholder="Оставьте комментарий" type="text"> <a name="kommen"></a>

</body>

</html>